{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <link rel="stylesheet" href="{% static 'style/style.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'style/profile.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'style/auth.css' %}?v=2">
</head>

<body>

    <div class="stars" id="stars"></div>

    <nav>
        <a href="{% url 'welcome' %}">Home</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>

    <div id="toastBox">
        {% if messages %}
            {% for message in messages %}
                <div class="toast {% if message.tags == 'error' %}error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="profile-wrapper">

        <div class="profile-container">

            <div class="avatar">
                {{ user.name|slice:":1"|upper }}
            </div>

            <h2>My Profile</h2>

            <form id="profile-form" method="POST">
                {% csrf_token %}

                <label>Full Name</label>
                <input type="text" name="full_name" value="{{ user.name }}" required>

                <label>Email</label>
                <input type="email" name="email" value="{{ user.email }}" readonly>

                <label>Current Password</label>
                <input type="password" name="current_password" required>

                <label>New Password</label>
                <input type="password" name="new_password">

                <button type="submit">Save Changes</button>

            </form>

        </div>

    </div>
    <footer>© 2026 StarLibrary | Admin Control Panel</footer>

    <script src="{% static 'javascript/star.js' %}?v=1"></script>
    <script src="{% static 'javascript/error_message.js' %}?v=1"></script>

</body>
</html>